
<div class="container">
    <p>Inscription</p>
    <div class="container">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Prenom</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="form_inscription.prenom">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="form_inscription.nom">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sInscrire()">Inscription</button>
    </div>
</div>
