<div class="container shadow rounded">
    <div class="loginbox row rounded d-flex justify-align-center">
        <div class="login-left bg-warning col-md-5 rounded">
            <img class="img-fluid m-auto"
                src="assets/loginLogo.png" alt="Logo">
        </div>
        <div class="login-right col-md-7 rounded">
            <div class="login-right-wrap">
                <h1>Inscription</h1>
                <div class="form-group mt-5">
                    <input class="form-control" type="text"
                        placeholder="Prenom" [(ngModel)]="form_inscription.PRENOM">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"
                        placeholder="Nom" [(ngModel)]="form_inscription.NOM">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"
                        placeholder="Login"  [(ngModel)]="form_inscription.LOGIN">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"
                        placeholder="Mot de passe"  [(ngModel)]="form_inscription.MDP">
                </div>
                <div class="row">
                    <div class="form-group col-md-7">
                        <input class="form-control" type="Date"
                            placeholder="Date de naissance"  [(ngModel)]="form_inscription.DATE_NAISSANCE">
                    </div>
                    <div class="form-group col-md-5">
                        <input class="form-control" type="text"
                            placeholder="Téléphone"  [(ngModel)]="form_inscription.TELEPHONE">
                    </div>
                </div>
                <!-- Sexe -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio1"
                        value="M"  [(ngModel)]="form_inscription.SEXE">
                    <label class="form-check-label" for="inlineRadio1">Homme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio2"
                        value="F" [(ngModel)]="form_inscription.SEXE">
                    <label class="form-check-label" for="inlineRadio2">Femme</label>
                </div>
                <!-- The action Button-->

                <div class="form-group mt-5">
                    <button class="btn btn-primary
                        btn-block" (click)="inscrire()">Inscription</button>
                </div>
            </div>
        </div>
    </div>
</div>