<div class="bg-light container-fluid m-0 p-0">
    <hr>
    <div class="row p-4">
        <div class="col-md-3">
            <p class="fw-bold" style="color: black; font-size: 8;">Développeur</p>
            <p class="" style="color: black; font-size: 8;"><strong>FastiSoft</strong>,
                Lorem
                ipsum dolor sit amet,
                consectetur adipisicing
                elit. Sequi
                animi
                fuga amet nemo natus iste aliquam fugit, voluptatibus laborum
                quos
                ut mollitia laboriosam nihil sed neque, suscipit modi dolorum
                asperiores.</p>

            <div class="row">
                <div class="col-md-1"><i class="fab fa-linkedin-in"></i></div>
                <div class="col-md-1"><i class="fab fa-instagram"></i></div>
                <div class="col-md-1"><i class="fab fa-github"></i></div>
            </div>


            <button class="btn
                btn-dark mt-2">Contactez-nous</button>
        </div>


    </div>
</div>