<div class="loginbox d-flex container-fluid w-100 h-100">
    <div class="row">
        <div class="login-left bg-warning col-md-5 col-sm-12 col-12">
            <img class="img-fluid m-auto"
                src="assets/loginLogo.png" alt="Logo">
        </div>
        <div class="login-right col-md-7 col-sm-12 col-12 m-auto">
            <div class="login-right-wrap container">
                <h1>Ajouter un(e) {{type}}</h1>
                <div class="form-group mt-5">
                    <input class="form-control" type="text"
                        placeholder="Prenom" name="prenom"  [(ngModel)]="form_ajouter.prenom">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"
                        placeholder="Nom"  [(ngModel)]="form_ajouter.nom">
                </div>

                <!-- The action Button-->
                <div class="form-group mt-5">
                    <button class="btn btn-primary
                        btn-block" (click)="ajouter()">Ajouter</button>
                </div>
            </div>
        </div></div>
</div>