<h1>Si vous êtes arrivés là,</h1>
<p>C’est que vous vous demandez sûrement, ce que nous faisons ou pourquoi nous
    le faisons, dans le but de vous servir pleinement des fonctionnalités de
    notre site pour éditer votre arbre généalogique. Très bon réflexe</p>

<h1>Description :</h1>
<p>Notre site permet de retracer l’arbre généalogique du monde entier avec un
    principe simple : tout utilisateur qui s’inscrit va éditer lui-même l’arbre.
    Pour ce faire, il devra une fois inscrite :
    -Enregistrer avec plus de précisions, les différents membres de sa famille
    en commençant par ses frères et soeurs, puis ajouter ses parents respectifs
    ( père et mère) en renseignant si possible les frères et soeurs de ses
    derniers, et ensuite remonter sur les grands parents et autres tout en
    respectant la hiérarchie qui a été définie.

    Ainsi le role que le site va jouer sur ce point est de mettre en relation
    les informations que les différents utilisateurs auront fourni pour établir
    une correspondance de parenté s’il y’a lieu.

    Alors nous pouvons imaginer que deux utilisateurs quelconque peuvent se
    rendrent compte qu’un lien de parenté les lie à travers les informations
    fournies pour établir les branches de l’arbre généalogique.
    Exemple : Babacar Ndong et Mohamed Amar découvrent à partir des informations
    fournies, qu’ils ont un grand père commun prénommé Mamour Amar.</p>


<h1>Conclusion :</h1>
<p>Évidemment pour conclure, le but de notre site est de faire connaître aux
    différents utilisateurs, les liens de parenté qui les lie aux autres,
    intéressant non ? Pour aller loin, il permettrait même à un utilisateur
    quelconque de retrouver un membre de sa famille ( qu’il recherchait pendant
    un certain temps) par simple saisie d’informations aboutissant à une
    correspondance qui établit leur lien de parenté.
    A présent nous espérons avoir répondu à vos questions, tout en vous invitant
    à utiliser pleinement notre site, qui s’est peut-être que vous y retrouverez
    un ou des membres de votre famille qui vous était inconnue .</p>

<hr>
