<div class="loginbox d-flex container-fluid">
    <div class="row">
        <div class="login-left bg-warning col-md-5">
            <img class="img-fluid m-auto"
                src="assets/loginLogo.png" alt="Logo">
        </div>
        <div class="login-right col-md-7 container">
            <div class="login-right-wrap container">
                <h1 class="fw-bold">Améliorer votre profile</h1>

                <form class="mt-5 mt-4">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input class="form-control" type="text"
                                placeholder="Téléphone">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control" type="text"
                                placeholder="Email">
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Choississez votre pays</option>
                            <option value="1">Sénégal</option>
                            <option value="2">Mali</option>
                            <option value="3">Afrique du Sub</option>
                            <option value="4">Autre</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Choississez votre ville</option>
                            <option value="1">Dakar</option>
                            <option value="2">Diourbel</option>
                            <option value="3">Thies</option>
                            <option value="4">Autre</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected>Choississez votre quartier</option>
                            <option value="1">Ouakam</option>
                            <option value="2">Fann</option>
                            <option value="3">Pikine</option>
                            <option value="4">Autre</option>
                        </select>
                    </div>

                    <!-- The action Button-->
                    <div class="form-group mt-5">
                        <button class="btn btn-primary
                            btn-block">Inscription</button>
                    </div>
                </form>
            </div>
        </div></div>
</div>